html {
  scroll-behavior: smooth;
}

body {
  padding: 0%;
  margin: 0%;
}

header {
  display: flex;
  flex-direction: row;
  margin: 0%;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem;
  margin: 0%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

header > .left-section > img {
  width: 3.5rem;
}

header > .left-section > p {
  font-size: 1.5rem;
  font-weight: 700;

  color: #fffffffb;
  font-family: Josefin Sans;
}

header > .left-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
  text-align: center;
  /* margin-top: -.5rem; */
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Ubuntu;
  text-align: center;
  /* /* border: 1px solid goldenrod; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a:hover {
  text-decoration: none;
  color: white;
  font-family: Ubuntu;
  background-color: transparent;
  text-align: center;
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* .container li a{
            text-decoration: none;
            color: #ffffff;  
            font-family: Ubuntu;
            text-align: center;
            border: 1px solid goldenrod;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
       display: flex;
       width: 10rem;
       justify-content: center;
       align-items: center;
          } */

li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Ubuntu;
  background-color: goldenrod;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.intro {
  background-image: url(two-men-engaged-deep-conversation_961875-88840.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: -5rem;
  align-items: center;
  justify-content: center;
  height: 100lvh;
}

.intro > img {
  width: 20rem;
}

.right li a {
  border: #daa520 solid 2px;
  color: #ffffff;
  padding: 1rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.right li a:hover {
  border: white solid 2px;
  color: #ffffff;
  padding: 1rem;
  background-color: #daa520;
  width: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.right {
  position: absolute;
  top: 80%;

  bottom: 0;
  left: 50%;
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
}
span {
  font-weight: 500;
  color: goldenrod;
  font-style: italic;
}

.go-up {
  position: absolute;
  top: 190%;

  bottom: 0;
  left: 50%;
  right: 0;
}

.go-up li a {
  border: #daa520 solid 2px;
  color: #ffffff;
  padding: 1rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.go-up li a:hover {
  border: white solid 2px;
  color: #ffffff;
  padding: 1rem;
  background-color: #daa520;
  width: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.cover {
  background-color: rgba(0, 0, 0, 0.862);
  width: 100%;
  height: 100lvh;
}

.intro > p {
  text-shadow: 1px 1px 1px goldenrod;

  font-family: Ubuntu;
  color: #ffffff;
  font-size: 4rem;
}
.history {
  background-image: url(process-creating-stand-up-comedy_23-2151058882.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: -5rem;
  align-items: center;
  justify-content: center;
  height: 100lvh;
}

h4 {
  font-family: Ubuntu;
  color: #ffffff;
}

li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Ubuntu;
  background-color: goldenrod;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.details > img {
  width: 6rem;
}

.details {
  font-family: Josefin Sans;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

.history > div {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.782);
  width: 100%;
  height: 100lvh;
}

h1 {
  color: rgb(255, 255, 255);
}

.p-pple {
  font-family: Ubuntu;
  font-size: 1.3rem;
  text-align: left;
  color: white;
  line-height: 2rem;
  justify-content: center;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-direction: row;
}

.dirp {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(218, 165, 32, 0.636);
}

.menu-mobile {
  display: none;
}

.mini-burg {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-mobile > .navy {
    margin: auto;
    width: 80vw;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  header {
    display: flex;
    flex-direction: row;
    margin: 0%;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0%;
    margin: 0%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile > .navy:hover {
    margin: auto;
    cursor: pointer;

    justify-content: center;
    align-items: center;

    display: flex;
  }

  .menu-mobile > .navy > a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Josefin Sans;
    font-weight: 600;
    cursor: pointer;
  }

  .p-pple p {
    font-size: 1rem;
  }

  .menu-mobile {
    position: absolute;
    top: 5rem;
    width: 90vw;
    height: 30rem;
    /* Step 1 */
    visibility: hidden;
    padding: 1rem;
    display: grid;
    align-items: center;
    /* backdrop-filter: blur(20px); */
    gap: 1rem;
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(100px);
    /* background-color: transparent; */
    justify-content: center;
    transition: 0.5s ease;
  }
  /* Step 2 */
  .open-menu {
    visibility: visible;
    transition: 0.5s ease;
  }

  .nav-link {
    text-align: center;
    /* margin-top: -.5rem; */
  }

  header .left-section ul {
    display: none;
  }

  li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Ubuntu;
    background-color: goldenrod;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .ul {
    display: none;
  }

  .mini-burg {
    display: block;
    color: goldenrod;
  }

  .history {
    display: flex;
    flex-direction: row;
    gap: -5rem;
    align-items: center;
    justify-content: center;
  }

  .details img {
    display: none;
  }

  .details h1 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .copy .p-pple p {
    font-size: 0.7rem;
  }

  .copy {
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dirp {
    display: none;
  }

  .go-up {
    display: none;
  }

  .cover div {
    margin-bottom: -2rem;
    padding: 0%;
  }

  .right {
    display: none;
  }
}
