html{
    scroll-behavior: smooth;
}


header{
    display: flex;
  flex-direction: row;
  margin: 0%;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 2rem;
  padding-right: 1rem;
  margin: 0%;
  height: auto;
  justify-content: space-between;
  align-items: center;

}

header > .left-section > img{
width: 3.5rem;
}

header > .left-section > p{
   font-size: 1.5rem;
   font-weight: 700;

color: #fffffffb;
    font-family: Josefin Sans;
    }

    header > .left-section{
    display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

        }

        ul{
         display: flex;
            gap: 1rem;
            list-style-type: none;
            align-items: center;
                 text-align: center;
            /* margin-top: -.5rem; */
            justify-content: center;
        }

        ul li a{
          text-decoration: none;
          color: #ffffff;  
          font-family: Ubuntu;
          text-align: center;
          /* border: 1px solid goldenrod; */
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          padding-right: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
        }

        ul li a:hover{
            text-decoration: none;
            color: white;  
            font-family: Ubuntu;
            background-color: #daa520;
            text-align: center;
            border: 1px solid white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: .5s;
          }

  
  
          li a:hover{
              text-decoration: none;
              color: rgb(255, 255, 255);  
              font-family: Ubuntu;
              background-color: goldenrod;
              text-align: center;
              border: 1px solid rgb(255, 255, 255);
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 20px;
              padding-right: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: .5s;
            }

            .our-menu{
            background-image: url(ingredients-near-pizza_23-2147772081.avif);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
font-weight: 500;
            width: 100%;
            display: flex;
        flex-direction: column;
        gap: -5rem;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
            }

            /* .our-menu::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.537);
                
            } */

            body{
margin: 0%;
padding: 0%;


            }

            .push{
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .push > p{
font-family: Ubuntu;
color: white;
font-size: 5rem;
            }

            .page{
                background-image: url(toasted-bread-dark-plate-dark-cloth_23-2148340421.avif);
                background-position: center;
                background-size: cover;
             
                background-repeat: no-repeat;
              
                width: 100%;
                display: flex;
            flex-direction: column;
            padding: 0%;
            margin: 0%;
            align-items: center;
            justify-content: center;  
             height: 100lvh;
            }

            .page article img{
                width: 20rem;
            }

            .page article p{
                font-family: Josefin Sans;
                font-size: 2rem;
                color: white;
                text-align: center;
            }

            .albulm{
                display: flex;
                flex-direction: row;
justify-content: center;
align-items: center;
            }

            .albulm img{
                width: 10rem;
                
            }

            .breakfast{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .breakfast p{
                font-family: Josefin Sans;
                font-size: 2rem;
                color: white;
                text-align: center;
                
            }

            .under .hr{
                width: 2rem;
                height: .5rem;
                border-radius: 1rem;
                margin-top: -1.5rem;
                background-color: goldenrod;
            }

            .under{
                display: flex;
                
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

.port{
    justify-content: left;
    display: flex;
    flex-direction: column;
    /* line-height: .5rem; */
    align-items: left;
    text-align: left;
    color: white;
}


.price{
    color: white;
    font-family: Josefin Sans;
    font-size: 1rem;
    margin-top: -1rem;
    font-weight: 700;
    color: #ffb700;
}

.help{
    font-size: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin-top: 2rem;
}

.help h1{
    font-size: 1.5rem;
    font-family: Josefin Sans;
}

.help h6{
    margin-top: -.5rem;
font-size: 1rem;
font-family: Ubuntu;
}

.firsty{
    gap: 2rem;
}

.go-up{
    position: absolute;
    top: 180%;
 
    bottom: 0;
    left: 90%;
    right: 0;
   
  }

  .go-up li a{
 
        border: #daa520 solid 2px;
color: #ffffff;
padding: 1rem;
width: 2rem ;
align-items: center;
justify-content: center;
display: flex;
border-radius: 50%;
  }

  .go-up li a:hover{
            border: white solid 2px;
color: #ffffff;
padding: 1rem;
background-color: #daa520;
width: 2rem ;
align-items: center;
justify-content: center;
display: flex;
border-radius: 50%;
  }

  .right li a{
    border: #daa520 solid 2px;
    color: #ffffff;
padding: 1rem;
width: 2rem ;
align-items: center;
justify-content: center;
display: flex;
border-radius: 50%;
  }

  .right li a:hover{
      border: white solid 2px;
    color: #ffffff;
padding: 1rem;
background-color: #daa520;
width: 2rem ;
align-items: center;
justify-content: center;
display: flex;
border-radius: 50%;
  }
        .right{
          position: absolute;
          top: 80%;
      
          bottom: 0;
          left: 90%;
          right: 0;
        }

        .page2{
            background-image: url(delicious-juicy-fresh-salad-baked-eggplant-tomatoes-zucchini-onions-spices-salt-dark-concrete-background_73989-48834.avif);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
          
            width: 100%;
            display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
        }

        .page2 article img{
            width: 20rem;
        }

        .page2 article p{
            font-family: Josefin Sans;
            font-size: 2rem;
            color: white;
            text-align: center;
        }

        .page3{
            background-image: url(c61d9442136b74a08fa39861465db145.jpg);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
          
            width: 100%;
            display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
        }

        .page3 article img{
            width: 20rem;
        }

        .page3 article p{
            font-family: Josefin Sans;
            font-size: 2rem;
            color: white;
            text-align: center;
        }

        .page4{
            background-image: url(pad-thai-minimalist-setting-pad-thai-stirfried-rice-noodles-with-shrimps-peanuts_1020697-347280.jpg);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
          
            width: 100%;
            display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
        }

        .page4 article img{
            width: 20rem;
        }

        .page4 article p{
            font-family: Josefin Sans;
            font-size: 2rem;
            color: white;
            text-align: center;
        }

        .page5{
            background-image: url(piece-sweet-chocolate-cake-with-nuts_73989-77194.avif);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
          
            width: 100%;
            display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
        }

        .page5 article img{
            width: 20rem;
        }

        .page5 article p{
            font-family: Josefin Sans;
            font-size: 2rem;
            color: white;
            text-align: center;
        }

        .page6{
            background-image: url(bottle-champagne-glasses-dark-background_93675-62281.jpg);
            background-position: center;
            background-size: cover;
         
            background-repeat: no-repeat;
          
            width: 100%;
            display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        justify-content: center;  
         height: 100lvh;
        }

        .page6 article img{
            width: 20rem;
        }

        .page6 article p{
            font-family: Josefin Sans;
            font-size: 2rem;
            color: white;
            text-align: center;
        }
